body {
    background-color: #463434;
}

.game {
    display: grid;
    grid-template-areas:
        '. blink-top clock-top . movelist . .'
        '. board         board . movelist . .'
        '. board         board . controls . .'
        '. board         board . chat  chat .'
        '. blink-bot clock-bot . chat  chat .';
}

.blink {
    display: flex;
    flex-direction: row;
    width: calc(var(--cg-width) * 5 / 8);
    height: calc(var(--cg-height) / 8);
    position: relative;
}

.blink-top {
    grid-area: blink-top;
    padding-bottom: 20px;
}

.blink-bot {
    grid-area: blink-bot;
    padding-top: 20px;
}

.blink-wrap {
    width: 20%;
    height: 100%;
    position: relative;
    display: flex;
    background-color: #888;
}

.blink piece {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.blink piece[data-nb="0"] {
    opacity: 0.3;
}

/* partly borrowed from lichess pockets */
.blink piece.active::after,
.dream piece.quantified::after {
    content: attr(data-nb);
    bottom: 0;
    right: 0;
    position: absolute;
    line-height: 0.9em;
    padding: 3px 0.3em;
    font-weight: bold;
    font-size: 1.1em;
    background: #d64f00;
    color: #fff;
    text-shadow: 0 1px 1px black;
    box-shadow: 0 3px 4px rgb(0 0 0 / 15%) inset;
    border-radius: 3px;
}

.blink piece.active:hover {
    background-color: #aaa;
}

#chessground {
    grid-area: board;
}

.clock-top {
    grid-area: clock-top;
}

.clock-bot {
    grid-area: clock-bot;
}

#movelist {
    grid-area: movelist;
    width: 100%;
    height: 300px;
    overflow: hidden;
    overflow-y: auto;
    background-color: lightcyan;
}

#movelist table {
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

#movelist tr:nth-child(even) {
    background-color: lightseagreen;
}

#movelist tr:nth-child(odd) {
    background-color: lightskyblue;
}

#movelist tr {
    width: 100%;
    height: 30px;
}

#movelist td.move.chosen,
#movelist td.move.chosen:hover {
    background-color: yellow;
}

#movelist td {
    border: 1px solid #dddddd;
    text-align: center;
}

#movelist td.movenum {
    width: 10%;
}

#movelist td.move {
    width: 45%;
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#movelist td.move:hover {
    background-color: lightyellow;
    cursor: pointer;
    text-overflow: clip;
    white-space: normal;
    word-break: break-word;
}

#controls {
    grid-area: controls;
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(4, 25%);
    height: fit-content;
}

#controls button {
    border-radius: 5px;
    height: 30px;
    margin: 2px;
    cursor: pointer;
    font-size: larger;
    background-color: #888;
}

#controls button:hover {
    background-color: orange;
}

#controls button.toprow {
    grid-row: 1;
    grid-column: span 1;
}

#controls button.botrow {
    grid-row: 2;
    grid-column: span 2;
}

.game #chat {
    grid-area: chat;
    width: 100%;
    max-width: 600px;
    height: calc(var(--cg-height) * 10 / 8 - 338px);
}