table#seeks {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#seeks td, #seeks th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
#seeks tr:nth-child(even) {
  background-color: #dddddd;
}