.lobby {
    display: grid;
    width: calc(100vw - 20px);
    height: calc(100vh - 50px);
    grid-template: 
        'incoming incoming games  games' 50%
        'outgoing  players players chat' 25%
        'seekmaker players players chat' 25%
        / 2fr 1fr 1fr 2fr;
}

.lobby .toplevel {
    padding: 10px;
}

.lobby .scroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    background-color: cyan;
}

.lobby table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.lobby td, .lobby th {
    border-left: 2px solid #dddddd;
    border-right: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.lobby th {
    background-color: darkcyan;
    position: sticky;
    top: 0;
}

.lobby th::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1px;
    border-bottom: 2px solid #dddddd;
}

.lobby tr:nth-child(even) {
    background-color: lightskyblue;
}
  
.lobby tr:nth-child(odd) {
    background-color: lightseagreen;
}

.lobby button {
    border-radius: 5px;
    cursor: pointer;
    background-color: #888;
}

.lobby button:hover {
    background-color: orange;
}

#incoming {
    grid-area: incoming;
}

#games {
    grid-area: games;
}

#players {
    grid-area: players;
}

#outgoing {
    grid-area: outgoing;
}

#seekmaker {
    grid-area: seekmaker;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#seekmaker .times {
    display: grid;
    grid-template: 
        'time-white . time-black'
        / 1fr 10px 1fr; 
}

#seekmaker .time {
    border: 2px solid #dddddd;
    border-radius: 5px;
}

#seekmaker #time-white {
    grid-area: time-white;
}

#seekmaker #time-black {
    grid-area: time-black;
}

#seekmaker div {
    padding-top: 5px;
    padding-bottom: 5px;
}

#seekmaker span,
#seekmaker label {
    height: 20px;
    color: white;
    font-size: large;
    padding-left: 5px;
    padding-right: 5px;
}

#seekmaker input[type="number"] {
    width: 30px
}

#seekmaker button {
    height: 100%;
}

.lobby #chat {
    grid-area: chat;
}